.body{
    background-color: white;
}
.bodyAlt {
    background-color: red;
}
.bodyAltAlt {
    background-color: rgb(17, 0, 255);
}
.area {
    height: 400px;
    width: 400px;
    position: relative;
    background-color: linen;
    display: flex;
    flex-wrap: wrap;
}
.ball {
    z-index:5;
    position:absolute;
    left:0px;
    width:160px;
    height:160px;
    border-radius:50%;
    background:rgb(0, 0, 0)
}

.face {
    z-index:5;
    position:absolute;
    left:0px;
    width:160px;
    height:160px;
    border-radius:50%;
    background:rgb(0, 0, 0)
}

.display {
    font-size: 120px;
    font-family: cursive;
}
